{% extends 'base.html'%}

{% block title %}
{{title}}
{% endblock %}
{% block head %}
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}

{% block body %}


<!--Main layout-->
<main style="margin-top: 58px">

    <div class="modal fade" id="exemptedInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">LAKANDIWA CHARTER SECTION 6</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><b>SECTION 6.</b> A subscription fee of one hundred pesos (P100.00) per student shall be
                        collected by the publication members every semester and summer periods, with exemption given to
                        the following, provided that they have official proof upon enrolling:</p>
                    <hr>
                    <br>
                    <p> A. Incumbent Lakandiwa Members </p>
                    <p> B. Working Scholars (AWS and ACG)</p>
                    <p> C. Athletes</p>
                    <p> D. Drum and Bugle and Lyrists Corps (DBLC)</p>
                    <p> E. Nuns</p>
                    <p> F. Cross enrollees</p>
                    <p> G. Teaching personnel</p>
                    <p> H. Students having an OJT, or an Internship and Practicum subject [with consideration for one
                        minor subject and provided that the total number of units of subjects will not be above nine
                        (9)]</p>
                    <p> I. Postgraduate students</p>
                    <p> J. Cultural scholars of:</p>
                    <p> • Symphonic Orchestra</p>
                    <p> • Chorus</p>
                    <p> • Theater Workshop Company</p>
                    <p> • UC Cheerleading Team</p>
                    <p> • UC Dance Company</p>
                    <p> • Campus Ministry</p>
                    <p> K. University academic scholars (UCASS and UCS3)</p>
                    <p> L. SBO presidents</p>
                    <p> M. Ex-trainees during the training period</p>
                    <p> N. Reviewees of any board examination</p>


                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCollectionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Payment Collection</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Please fill all the necessary fields.</p>
                    <hr>
                    <form method="POST" action="/addcollection">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"><b>Acknowledgement Receipt
                                    Number</b></label>
                            <div class="flexer">
                                <input type="text" class="form-control" id="collection_ackID"
                                    placeholder="Acknowledgement Receipt No" name="acknowledgementID" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"><b>Student ID Number:</b></label>
                            <div class="flexer">
                                <input type="text" class="form-control" id="collection_studentID"
                                    placeholder="ID Number" name="id_number" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"><b>Student Name:</b></label>
                            <div class="flexer">
                                <input type="text" class="form-control" id="" placeholder="First Name" name="firstname" required>
                                <input type="text" class="form-control" id="" placeholder="MI" style="width:70px;"
                                    name="middlename">
                                <input type="text" class="form-control" id="" placeholder="Last Name" name="lastname" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"><b>Course:</b></label>
                            <select class="form-select" aria-label="Default select example" name="course" required>
                                {% for each in course %}
                                <option value="{{each}}">{{each}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"><b>Year Level</b></label>
                            <select class="form-select" aria-label="Default select example" name="year" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="exempted_checkbox"
                                    name="exempted_checkbox">
                                <label class="custom-control-label" for="customCheck1">Exempted Student</label>
                            </div>
                        </div>

                        <div class="mb-3" hidden id="exempted_category">
                            <label for="exampleFormControlSelect1" class="ms-0">Category</label>

                            <div class="input-group input-group-static mb-4">

                                <select class="form-control" id="exampleFormControlSelect1" name="exempted_category">
                                    {% for each in exempted %}
                                    <option value="{{each}}">{{each}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container pt-4">
        <!-- Section: Main chart -->
        <section class="mb-4">
            <h3>Welcome, {{session.user_firstname}}</h3>
            <hr>
            {% if quote is defined and quote is not none %}
            <p>Quotes to help you throughout the day</p>
            <div class="quote">
                <h5><i class="fa-solid fa-quote-left"></i> {{quote.text}} <i
                        class="fa-solid fa-quote-left fa-flip-horizontal"></i></h5>
                <h6>- {{quote.author}}</h6>
            </div>
            {% endif %}
            <br>
            <hr>
            {% if exist_subsidy is none %}
            <h6><b>You currently have no schedule.</b> Contact the Editor in Chief, Managing Director, or Admin to set a
                schedule.</h6>
            {% endif %}
            {% if exist_subsidy is defined and exist_subsidy is not none and exist_subsidy.rendered_hours is defined and exist_subsidy.rendered_hours is not none %}
            <h6><b>You are already done with your duty today.</b> Thank you</h6>
            {% endif %}
            {% if exist_subsidy is defined and exist_subsidy is not none and exist_subsidy.clocked_start_date is defined and exist_subsidy.clocked_start_date is not none and exist_subsidy.clocked_end_date is defined and exist_subsidy.clocked_end_date is none %}
            <button type="button" class="btn btn-secondary home-button mt-2 mb-2 ms-1 me-1" data-bs-toggle="modal"
                data-bs-target="#addCollectionModal" data-bs-whatever="@mdo"><i
                    class="fa-sharp fa-solid fa-money-bill"></i>
                <br> <i class="fa fa-plus" aria-hidden="true"></i> Add Payment Collection</button>
       
            {% endif %}
            <button data-bs-toggle="modal" data-bs-target="#exemptedInfoModal" data-bs-whatever="@mdo" type="button"
                class="btn btn-secondary home-button mt-2 mb-2 ms-1 me-1"><i class="fa-solid fa-thumbs-up"></i> <br> <i
                    class="fa-solid fa-eye"></i>
                View Exempted Students</button>
            {% if exist_subsidy is not none and exist_subsidy is defined%}
            <button type="button" class="btn btn-secondary home-button mt-2 mb-2 ms-1 me-1"><i
                    class="fa-sharp fa-solid fa-ticket"></i> <br>
                Total Collection Today</button>
            {% endif %}
            {% if exist_subsidy is defined and exist_subsidy is not none %}
            {% if exist_subsidy.start_date | date == current_datetime | date%}
                {%if exist_subsidy.clocked_start_date is defined  and exist_subsidy.clocked_start_date is none %}
            <button type="button" class="btn btn-outline-warning home-button mt-2 mb-2 ms-1 me-1" onclick="location.href='/clock_in' "><i
                    class="fa-solid fa-clock"></i> <br>
                <h3>Clock in</h3>
            </button>
            {% endif %}
            {%if exist_subsidy.clocked_start_date is defined and exist_subsidy.clocked_start_date is not none%}
                <button type="button" class="btn btn-success home-button mt-2 mb-2 ms-1 me-1"><i
                    class="fa-solid fa-clock"></i> <br>
                <h3>Clocked in</h3> <br>
                <p>{{exist_subsidy.clocked_start_date | format_datetime}}</p>
            </button>
                {% endif %}
                {%if exist_subsidy.clocked_start_date is defined  and exist_subsidy.clocked_start_date is not none and exist_subsidy.clocked_end_date is defined and exist_subsidy.clocked_end_date is none %}
            <button type="button" class="btn btn-outline-warning home-button mt-2 mb-2 ms-1 me-1" onclick="location.href='/clock_out' "><i
                    class="fa-solid fa-clock"></i> <br>
                <h3>Clock out</h3>
            </button>
            {% endif %}
            {% if exist_subsidy.clocked_start_date is defined and exist_subsidy.clocked_start_date is none %}
            <button disabled type="button" class="btn btn-outline-warning home-button mt-2 mb-2 ms-1 me-1"><i
                class="fa-solid fa-clock"></i> <br>
            <h3>Clock out</h3>
        </button>
            {% endif %}
            {%if exist_subsidy.clocked_start_date is defined and exist_subsidy.clocked_start_date is not none and exist_subsidy.clocked_end_date is defined and exist_subsidy.clocked_end_date is not none %}
            <button type="button" class="btn btn-success home-button mt-2 mb-2 ms-1 me-1"><i
                class="fa-solid fa-clock"></i> <br>
            <h3>Clocked out</h3> <br>
            <p>{{exist_subsidy.clocked_end_date | format_datetime}}</p>
            </button>
            {% endif %}
            {% endif %}
            {%else%}
            <button disabled type="button" class="btn btn-outline-danger home-button mt-2 mb-2 ms-1 me-1"><i
                    class="fa-solid fa-hand"></i> <br>
                <h5>You have no schedule for today</h5>
            </button>
            {% endif %}

            {% if exist_subsidy is defined and exist_subsidy is not none and exist_subsidy.clocked_start_date is defined and exist_subsidy.clocked_start_date is not none and exist_subsidy.clocked_end_date is defined and exist_subsidy.clocked_end_date is none %}
            <hr>
            <h3>Collection</h3>

            <div class="flexer">
                <input type="text" class="form-control" id="collection_ackID" placeholder="Search" name="search_query">
                <button type="submit" class="btn btn-primary"><i
                        class="fa-sharp fa-solid fa-magnifying-glass"></i></button>


                <select class="form-control" id="sort" name="sort" style="width:150px;">
                    <option value="">Ascending</option>
                    <option value="">Descending</option>
                </select>
                <select class="form-control" id="exampleFormControlSelect1" name="filter">

                    <option value="all" selected>All</option>
                    {% for each in exempted %}
                    <option value="{{each}}">{{each}}</option>
                    {% endfor %}
                </select>

            </div>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>AcknowledgementID</th>
                        <th>Student Name</th>
                        <th>Course and Year</th>
                        <th>Excempted Category(if any.)</th>
                        <th>Voided</th>
                        <th>Added by</th>
                        <th>Created at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for collection in collections %}
                    <tr>
                        <td>
                            <p class="fw-normal mb-1"> <b>{{collection.acknowledgementID}} </b></p>
                        
                        </td>

                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1"> <b>{{collection.student_lastname}}, {{collection.student_firstname}} {{collection.student_middlename | first}}</b></p>
                                    <p class="badge badge-success rounded-pill d-inline">{{collection.id_number}}</p>
                                </div>
                            </div>
                        </td>
                  
                        <td>
                            <span><b>{{collection.course}} | {{collection.year}}</b></span>
                        </td>
                        <td><b>{{collection.excempted_category}}</b></td>
                        <td><b>{{collection.voided}}</b></td>
                        <td><b>{{collection.lastname}}, {{collection.firstname}} {{collection.middlename | first}}</b>
                            <p class="badge badge-success rounded-pill d-inline">{{collection.id}} | {{collection.position}}</p>
                        </td>
                        <td><b>{{collection.created_at | format_datetime}}</b></td>
                        
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded">
                                Edit
                            </button>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </section>
        <!-- Section: Main chart -->


    </div>
</main>
<!--Main layout-->
{% endblock %}