{% extends 'base.html'%}

{% block title %}
{{title}}
{% endblock  %}

{% block head %}
<script src="{{url_for('static', filename='/js/login.js')}}"></script>

{% endblock %}

{% block sidenav %}
{% endblock %}
{% block body %}

<br><br><br><br><br><br><br>
<div class="login-container ">
<div class="login-form">
    <div class="image-container">
<img src="{{url_for('static',filename='images/lakandiwa.svg')}}" style="width:250px;" alt="">
</div>

<hr>
<h3>Lakandiwa Collection System</h3>

<br>
<p>Log in to continue</p>
<form action="/login-validate" method="POST">
<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg" style="width:120px;">ID Number</span>
    <input name="userID" type="text" class="form-control" id="login-userID" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" />
  </div>
  <br>
<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg" style="width:120px;">Password</span>
    <input name="password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" />
  </div>
<br>

{% if message is defined and message is not none and message == 'Invalid log in'%}
<p style="color:red">{{message}}</p>

{% endif %}
<br>
<div class="d-grid gap-2">
  <button type="submit" class="btn btn-primary btn-rounded" style="height:45px;" >Log in</button>
</div>
</form>


</div>
</div>

{% endblock %}